@header-buttonPadding: 5px;

.header {
    position: fixed;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    top: 0px;
    padding: 5px 40px;
    background-color: #638bb5;
}

.button--darkBlue {
    display: inline-block;
    position: relative;
    float: left;
    width: auto;
    text-align: center;
    padding: @header-buttonPadding;
    border-radius: 2px;
    background-color: #465468;
    cursor: pointer;
    color: #ffffff;
}

.header-dropdown {
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 2px;
    left: 0;
    margin: 0 auto;
}

.header-dropdown ul {
    list-style-type: none;
    width: auto;
}

.header-dropdown-item {
    position: relative;
    top: 10px;
    width: auto;
    padding: @header-buttonPadding;
    background-color: #638bb5;
    border-bottom: 1px solid #465468;
    border-radius: 2px;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    &:last-of-type {
        border-bottom: none;
    }
}
