.header {
    position: fixed;
    background-color: #638bb5;
    top: 0px;
    padding: 5px;
    width: 100%;
    height: auto;
}

.button--darkBlue {
    padding: 5px;
    border-radius: 2px;
    background-color: #465468;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}